a.nav-link {
    margin-right: 20px;
    text-transform: capitalize;
}

header.bg-primary {
    background-color: rgb(1, 96, 198) !important;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px;
    height: 430px;
    max-width: 350px;
}

div.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.card img {
    width: 40%;
    background-size: cover;
    max-width: 100%;
    height: 35%;
    margin: 5px auto;
}
